body{
  background-color: rgba(4, 4, 4, 0.875);
}



h1{
  color: rgb(156, 13, 11);
  padding: 5px;
  background-color: rgba(243, 95, 36, 0.83);
  text-align: center;
  font-size: 90px;
}
p{
  color: rgb(117,38, 7);
  font-size: large;
  background-color: rgba(243, 95, 36, 0.83);
  margin-top:1px; 
  text-align: center;
  font-size: 25px;
}
h2{
  color: rgb(117, 38, 7);
  background-color: rgba(243, 95, 36, 0.83);
  text-align: center;
  font-size: 30px;
}